@{
    ViewData["Title"] = "LoginIndex";
}
<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->
@model LoginViewModel
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Login</h5>
                        
    
                        <form asp-controller="Account" asp-action="Login" method="post">

                            <div class="form-floating mb-3">
                                <input asp-for="Email" type="text" class="form-control" id="floatingInputUsername" placeholder="myusername" required autofocus>
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <label for="floatingInputUsername">Username</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <label for="floatingPassword">Password</label>
                            </div>

                            <div class="custom-control custom-checkbox">
                                <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                                <label class="custom-control-label" asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
                            </div>

                            <div class="d-grid mb-2">
                                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Login</button>
                            </div>

                            <a class="d-block text-center mt-2 small" asp-controller="Account" asp-action="Register">Don't have an account? Register</a>

                            <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a>Login: admin</a>
    </div>
    <div>
        <a>Pass: Sdsd12()qwqw</a>
    </div>
    <div>
        <a>Login: User</a>
    </div>
    <div>
        <a>Pass: Sdsd12()qwqw</a>
    </div>
</body>
